<h3>Registration</h3>
<div class="row">
  <div class="input-field col s12 m4">
    <input type="text" name="search" class="form-control" placeholder="Search assistants" [(ngModel)]="searchTerm"
      (ngModelChange)="searchAssistant()">
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assistant of assistants; index as i">
      <ng-container *ngIf="assistant.visibleInSearch">
        <td>{{ i + 1 }}</td>
        <td>{{ assistant.fullName }}</td>
        <td>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.checkIn" (change)="checkAssistant(assistant, 'checkIn')">
              <span>CheckIn</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.fridayDinner" [disabled]="!assistant.checkIn"
                (change)="checkAssistant(assistant, 'fridayDinner')">
              <span>Friday Dinner</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.saturdayBreakfast"
                [disabled]="!assistant.saturdayBreakfast"
                (change)="checkAssistant(assistant, 'saturdayBreakfast')">
              <span>Saturday Breakfast</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.saturdayLunch" [disabled]="!assistant.checkIn"
                (change)="checkAssistant(assistant, 'saturdayLunch')">
              <span>Saturday Lunch</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.saturdayDinner" [disabled]="!assistant.checkIn"
                (change)="checkAssistant(assistant, 'saturdayDinner')">
              <span>Saturday Dinner</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.sundayBreakfast" [disabled]="!assistant.checkIn"
                (change)="checkAssistant(assistant, 'sundayBreakfast')">
              <span>Sunday Breakfast</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.sundayLunch" [disabled]="!assistant.checkIn"
                (change)="checkAssistant(assistant, 'sundayLunch')">
              <span>Sunday Lunch</span>
            </label>
          </p>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
