<h3>Registration</h3>
<div class="row">
  <div class="input-field col s12 m4">
    <input type="text" name="search" class="form-control" placeholder="Search assistants" [(ngModel)]="searchTerm"
      (ngModelChange)="searchAssistant()">
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assistant of assistants; index as i">
      <ng-container *ngIf="assistant.visibleInSearch">
        <td>{{ i + 1 }}</td>
        <td>{{ assistant.fullName }}</td>
        <td>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.checkIn" (change)="checkAssistant(assistant, 'checkIn')">
              <span>CheckIn</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.snackOne" [disabled]="!assistant.checkIn"
                (change)="checkAssistant(assistant, 'snackOne')">
              <span>Snack#1</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.lunch"
                [disabled]="!assistant.checkIn || assistant.package === 'bronze'"
                (change)="checkAssistant(assistant, 'lunch')">
              <span>Lunch</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" [checked]="assistant.snackTwo" [disabled]="!assistant.checkIn"
                (change)="checkAssistant(assistant, 'snackTwo')">
              <span>Snack#2</span>
            </label>
          </p>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
