<div class="container">
  <h3>Scanner</h3>
  <div class="input-field">
    <select tgSelect [(ngModel)]="selectedItemForScan">
      <option value="" disabled selected>Choose an option</option>
      <option value="checkIn">Viernes</option>
      <option value="fridayDinner">Sábado</option>
      <option value="saturdayBreakfast">Domingo</option>
      <!-- <option value="saturdayLunch">Saturday Lunch</option>
      <option value="saturdayDinner">Saturday Dinner</option>
      <option value="sundayBreakfast">Sunday Breakfast</option>
      <option value="sundayLunch">Sunday Lunch</option> -->
    </select>
    <label></label>
  </div>
  <div class="center-align">
    <zxing-scanner (scanSuccess)="processCode($event)"></zxing-scanner>
  </div>
</div>

<div #assistantProcessedModal=modalDirective tgModal (modalClose)="cleanData()" class="modal">
  <div class="modal-content">
    <div [ngClass]="{ 'red-text': modalImage === images.error, 'green-text': modalImage === images.info }"
      class="center-align">
      <h4>{{ modalMessage }}</h4>
      <img [src]="modalImage" [alt]="modalMessage">
      <ng-container *ngIf="assistant; else modalError">
        <p>Name: {{ assistant.fullName }}</p>
      </ng-container>
      <ng-template #modalError>
        <p><b>The scanner reads: </b> {{ assistantId }}</p>
      </ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="modalImage === images.info" class="modal-close waves-effect waves-light btn">
      Ok
    </button>
    <button *ngIf="modalImage === images.error" class="modal-close waves-effect waves-light btn">
      Try again
    </button>
  </div>
</div>
