@import '~materialize-css/sass/components/color-variables';

$primary-color: color('red', 'accent-3') !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;

@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}

$secondary-color: color('blue', 'lighten-2') !default;
$success-color: color('green', 'base') !default;
$error-color: color('red', 'base') !default;
$link-color: color('light-blue', 'darken-1') !default;
