<header>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a routerLink="/">WTN Tickets</a>
        <ng-container *ngIf="auth.currentUser | async">
          <a data-target="mobile-menu" class="sidenav-trigger">
            <i class="fa fa-bars"></i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/assistants">Assistants</a></li>
            <li><a routerLink="/registration">Registration</a></li>
            <li><a routerLink="/credentials">Credentials</a></li>
            <li><a routerLink="/scanner">Scanner</a></li>
            <li><a (click)="auth.logout()">Sign Out</a></li>
          </ul>
        </ng-container>
      </div>
    </div>
  </nav>

  <ng-container *ngIf="auth.currentUser | async">
    <ul tgSidenav id="mobile-menu" class="sidenav">
      <li><a routerLink="/assistants" class="sidenav-close">Assistants</a></li>
      <li><a routerLink="/registration" class="sidenav-close">Registration</a></li>
      <li><a routerLink="/credentials" class="sidenav-close">Credentials</a></li>
      <li><a routerLink="/scanner" class="sidenav-close">Scanner</a></li>
      <li><a (click)="auth.logout()" class="sidenav-close">Sign Out</a></li>
    </ul>
  </ng-container>
</header>
